@keyframes fadeOut {
    0% { opacity: 1; }
    33% { opacity: 0; }
    33.3% { opacity: 1; }
    66% { opacity: 0; }
    66.3% { opacity: 1; }
    
    100% { opacity: 0; }
}

#countdown {
    animation: fadeOut 3s ease-out forwards;
    opacity: 0;
}