

.content-container {
    background-color: #f4f7fb;
    width: 87%;
    height: calc(100vh - 50px);
    /* 20px is the approximate height of the scrollbar */
    overflow-y: hidden !important;
}

.bg-grey{
    background-color: #f5f7f9;
}