@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.bg-gradient-1{
  background: rgb(109,109,219);
  background: -moz-linear-gradient(139deg, rgba(109,109,219,1) 1%, rgba(126,146,244,1) 10%, rgba(154,201,248,1) 65%);
  background: -webkit-linear-gradient(139deg, rgba(109,109,219,1) 1%, rgba(126,146,244,1) 10%, rgba(154,201,248,1) 65%);
  background: linear-gradient(139deg, rgba(109,109,219,1) 1%, rgba(126,146,244,1) 10%, rgba(154,201,248,1) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6d6ddb",endColorstr="#9ac9f8",GradientType=1);
}

audio {
  background-color: transparent !important;
  border: none; /* Optional: Remove border if any */
  outline: none; /* Optional: Remove focus outline */
}

.audio-ui{
  /* background: rgb(252,250,250);
  background: -moz-radial-gradient(circle, rgba(252,250,250,1) 0%, rgba(236,219,223,1) 72%);
  background: -webkit-radial-gradient(circle, rgba(252,250,250,1) 0%, rgba(236,219,223,1) 72%);
  background: radial-gradient(circle, rgba(252,250,250,1) 0%, rgba(236,219,223,1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfafa",endColorstr="#ecdbdf",GradientType=1); */
  background: linear-gradient(to right, #f8f0ff, #e7eafc, #f5e9f3); /* Replace colors as needed */
  border-radius: 8px; /* Rounded corners for smooth look */
  padding: 10px;
}

.ag-center-cols-container {
  width: 100% !important;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profile-arrow {
  width: 220px;
  background-color: #e6e6e6;
  color: rgb(61, 61, 61);
  height: 42px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  position: relative;
  text-wrap: nowrap;
  
}

/* Arrow shape */
.profile-arrow::after {
  content: '';
  position: absolute;
  right: -18px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #e6e6e6;

}


/* Left arrow for the starting ribbon */
.profile-arrow.start::before {
  left: -18px;
  border-width: 20px 20px 20px 0;
  border-color: transparent #22c55e transparent transparent;
}

.profile-arrow.applicant-profile {
  background-color: #7474f4 ;
  color: rgb(255, 255, 255);
  border-color: #2323fa;
}

.profile-arrow.applicant-profile::after {
  border-left-color: #7474f4; /* Green arrow tip */
}


/* Base style for each arrow */
.stage-arrow {
  width: 250px;
  background-color: #e6e6e6;
  color: rgb(61, 61, 61);
  height: 42px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  position: relative;
  text-wrap: nowrap;
  
}

/* Arrow shape */
.stage-arrow::after {
  content: '';
  position: absolute;
  right: -18px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #e6e6e6;

}
.stage-arrow::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;

}

/* Left arrow for the starting ribbon */
.stage-arrow.start::before {
  left: -18px;
  border-width: 20px 20px 20px 0;
  border-color: transparent #22c55e transparent transparent;
}

/* Right arrow for the ending and intermediate ribbons */


/* Cleared stage style */
.stage-arrow.cleared {
  background-color: rgb(220 252 231) !important;
  color: rgb(0, 156, 47);
  border-color: rgb(0, 156, 47) !important;
  
}

.stage-arrow.cleared::after {
  border-left-color: rgb(220 252 231); /* Green arrow tip */
}

.stage-arrow.active {
  background-color: rgb(220 252 231) !important;
  color: rgb(0, 156, 47);
  border-color: rgb(0, 156, 47) !important;
}

.stage-arrow.active::after {
  border-left-color: rgb(220 252 231); /* Green arrow tip */
}

.stage-arrow.pending {
  background-color: #fef9c3 !important;
  color: #998c01;
  border-color: #998c01 !important;
}

.stage-arrow.pending::after {
  border-left-color: #fef9c3; /* Green arrow tip */
}

.stage-arrow.rejected {
  background-color: #fee2e2 !important;
  color: #991b1b;
  border-color: #991b1b !important;
}

.stage-arrow.rejected::after {
  border-left-color: #fee2e2; /* Green arrow tip */
}

.stage-arrow.on-hold {
  background-color: #ffe1d3 !important;
  color: #b15e28;
  border-color: #b15e28 !important;
}

.stage-arrow.on-hold::after {
  border-left-color: #ffe1d3; /* Green arrow tip */
}

.stage-arrow.inactive {
  background-color: #e6e6e6 ;
  color: rgb(61, 61, 61);
  border-color: rgb(61, 61, 61);
}




/* Remove right arrow for the last stage */
/* .stage-arrow:last-child::after {
  content: none;
} */


.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* 
.Toastify__toast {
  background-color: rgb(51, 140, 255) !important;
  color:  white !important;
} */

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.7);
  }
  100% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
  }
}

.glowing {
  animation: glow 1.5s infinite alternate;
}


.ag-theme-alpine,.ag-theme-quartz {
  font-family: 'Poppins', sans-serif !important; 
}

.app-main{
  transition: margin-left 0.3s ease; /* Apply smooth transition */
}

.sidebar{
  transition: width 0.3s ease; /* Apply smooth transition */
}

.bg-brand-purple{
  background-color: #7474f4;
}
.btn-brand-purple{
  background-color: #7474f4;
}
.btn-brand-dark{
  background-color: #282842;
}

.btn-brand-purple:hover{
  background-color: #6262fc;
}

.text-brand-purple{
  color: #7474f4;
}


.text-brand-blue{
  color: #1E57FE;
}

.bg-brand-blue{
  background-color: #1E57FE;
}

.btn-brand-blue{
  background-color: #3D73FD;
}
.btn-brand-blue:hover{
  background-color: #1E57FE;
}






.bg-brand-orange{
  background-color: #ea5422;
}
.text-brand-orange{
  color: #ea5422;
}

.bg-brand-dark{
  background-color: #282842;
}
.text-brand-dark{
  color: #282842;
}



.brand-text{
  color: #7474f4;
}

.brand-text span{
  font-weight: 800;
  color: #7474f4;
}

.custom-tooltip{
  max-width: 500px !important;
  height: auto !important;
  color: #222 !important;
  --tw-bg-opacity: 1 !important;
    background-color: rgb(240 249 255 / var(--tw-bg-opacity)) !important;
}

.brand-bg{
  background-color: #81cdff;
}

.font-poppins{
  font-family: 'Poppins', sans-serif !important; 
}

.page-404 {
  
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* background: rgb(28,97,232);
background: -moz-linear-gradient(0deg, rgba(28,97,232,1) 0%, rgba(185,210,251,1) 25%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(28,97,232,1) 0%, rgba(185,210,251,1) 25%, rgba(255,255,255,1) 100%);
background: linear-gradient(0deg, rgba(28,97,232,1) 0%, rgba(185,210,251,1) 25%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c61e8",endColorstr="#ffffff",GradientType=1); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.select__control {
  height: 35px !important;
  max-height: 35px !important;
}

.select__indicators {
  height: 35px !important;
  max-height: 35px !important;
}

.select__value {
  height: 35px !important;
  max-height: 35px !important;
  /* font-size: .6rem; */
  padding: 0;
}

.select__value-container{
  width: 100px !important;
  height: 35px;
  max-height: 50px !important;
  overflow: auto;
 }

.select__menu-list {
  max-height: 220px !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #D62929;
}


.text-primary-800 {
  color: #0099ff;
}

.bg-primary-800 {
  background-color: #0099ff;
}

.text-primary-600 {
  color: #0099ff;
}

.text-primary-800 {
  color: #078de7e1;
}

.bg-primary-600 {
  background-color: #1E57FE;
}

.tab-hover:hover{
  color: white;
  background-color: #4278ff;
}

/* .tab:hover{
  color: #0099ff !important;
} */

.h-90 {
  height: 90% !important;
  max-height: 90% !important;
}

.h-10p {
  height: 10% !important;
}

.h-80p {
  height: 80% !important;
  max-height: 80% !important;
}

.candidate-description-box {
  max-height: 90% !important;
}

.candidate-question-box {
  max-height: 80% !important;
}


/* width */
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f8f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c2c4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}