/* font-family: 'Open Sans', sans-serif;  */
/* font-family: 'Poppins', sans-serif; */

.item-list-container .list-group{
    height: calc(100vh - 120px);
    overflow: scroll;
}

.member-list-container .list-group{
    max-height: 320px !important;
    overflow: auto;
}

.custom-list-item{
    height: 50px;
    border-radius: 10px;
    margin-bottom: .7rem;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1) !important;
}

.custom-applicant-list-item{
    height: 46px;
    border-radius: 6px;
    margin-bottom: .7rem;
    
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.123) !important;
}

.column-row{
    margin-bottom: .7rem;
    border-color: rgb(182, 182, 182);
}

.applicant-column-row{
    height: 45px;
    margin-bottom: .7rem;
    border-color: rgb(182, 182, 182);
    /* box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1) !important; */
}

/* 
.custom-list-item .text{
    font-size: .85rem;
} */
/* .column-row .text{
    font-size: .92rem;
} */